<nav class="navbar navbar-expand bg-primary-subtle fixed-top text-uppercase">
  <div class="container-fluid">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/timetable']"
          routerLinkActive="active bg-light rounded"
          ><b>DJ Timetable</b></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/djs']"
          routerLinkActive="active bg-light rounded"
          ><b>DJ Schedule</b></a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet />
